<button routerLink="/home" routerLinkActive="active-route">Volver a Juegos</button>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Iniciar sesión</h1>
			<input [(ngModel)]="user.email" name="email" placeholder="Email" />
			<input [(ngModel)]="user.password" name="password" placeholder="Password" />
			<a  [(ngModel)]="user.email" type="submit" (click)="DirectAccess()">acceso rápido</a>
			<button (click) = "LogIn()">Iniciar sesión</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hola, amiguito!</h1>
				<p>Inicia sesión para guardar tu progreso en los juegos más divertidos!</p>
			</div>
		</div>
	</div>
</div>

