*{
  font-family: 'Poppins', sans-serif;
  color: white
}

.gradient-custom {
  background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}
    